.hero-section {
  height: 100vh;
  background: url("../image/tourne.jpg");
  position: relative;
  background-attachment: fixed;
}

.hero-section .overlay {
  position: absolute;
  inset: 0;
  
}

.hero-section h1,
.hero-section p,
.hero-section a {
  z-index: 1;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #ffc107;
  transform: translateX(5px);
}

.out {
  outline: none; /* pas d'outline par défaut */
}

.out:focus {
  outline: 5px solid #ffc107; /* outline apparaît au clic */
 
}



.social-icon {
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s;
}

.social-icon:hover {
  background: #ffc107;
  color: #e8e8e8;
  transform: scale(1.1);
}

.carte {
  transition: transform 0.3s ease;
}

.carte:hover{
   transform: scale(1.02);
}